* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans/OpenSans-Light.ttf");
}
html,
body {
  height: 100%;
}

.header {
  min-width: 1200px;
  width: 100%;
  height: 90px;
  background-color: #212343;
}
.header img {
  margin: 15px;
}

.center {
  width: 1200px;
  margin: 0 auto;
  padding: 0 2%;
}
.center h2 {
  font-weight: normal;
  color: white;
  line-height: 90px;
}
.container-banner {
  min-width: 1200px;
  width: 100%;
  height: 557px;
  background-image: url("../img/bg-banner.jpg");
  background-size: cover;
  background-position: center;
}
.container-banner > .center {
  height: 100%;
}

.form {
  width: 400px;
  height: calc(100% + 30px);
  background-color: white;
  float: right;
  position: relative;
  top: -15px;
  border: 8px solid rgba(120, 120, 120, 0.7);
  background-clip: padding-box;
  /* background-origin: padding-box; [utilizado para imagens] */
}
.form h2 {
  font-size: 21px;
  font-weight: normal;
  color: #212343;
  padding: 8px;
  font-family: "Open Sans Light";
  line-height: 30px;
}
.input-container {
  margin-top: 20px;
  padding: 8px;
}
.input-container span,
.alerta {
  display: inline-block;
  width: 100%;
  color: #aaa;
  font-size: 17px;
}
.input-container span::after {
  content: " *";
  color: tomato;
}
.input-container input[type="text"],
.input-container input[type="email"],
.input-container [type="tel"] {
  margin-top: 8px;
  width: 344px;
  height: 55px;
  padding-left: 5px;
  font-size: 17px;
  border: 1px solid #ccc;
  outline: none;
}
.alerta {
  padding: 8px;
}
.alerta::before {
  content: "* ";
  color: tomato;
}
.form .input-submit-container {
  text-align: center;
}
.input-submit-container input[type="submit"] {
  width: 280px;
  height: 56px;
  background-color: #363a6d;
  color: white;
  border: none;
  display: inline-block;
  font-size: 20px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  cursor: pointer;
  margin-top: 10px;
  border-bottom: 5px solid #4a5097;
}
.form input[type="submit"]::hover {
  background-color: #323665;
}
.container-lista {
  padding: 30px;
  margin-top: 100px;
  float: left;
  width: 519px;
  height: 270px;
  background-color: rgba(33, 35, 67, 0.7);
}
.container-lista ul {
  list-style-position: inside;
}
.container-lista ul li {
  color: white;
  list-style: none;
  margin-top: 18px;
}
.container-sessao {
  min-width: 1200px;
  padding: 40px 0;
  text-align: center;
  background-color: #ddd;
}
.container-sessao h2 {
  font-weight: normal;
}
.container-sessao p {
  width: 698px;
  display: inline-block;
  margin: 15px 0;
  text-align: justify;
}
.container-sessao h2,
p {
  color: #212343;
}
.seta {
  position: relative;
  top: 60px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  background-image: url("../img/seta.png");
  background-size: 100% 100%;
}
.sessao-1 {
    padding: 90px 0;
    font-family: "Open Sans Light";
}
.sessao-1 h2 {
    text-align: center;
    color: #212343;
    font-weight: bold;
}
.sessao-icones {
    margin-top: 40px;
    text-align: center;
}
.container-icones {
    width: 33.33%;
    float: left;
    padding: 30px;
}
.container-icones p {
    padding: 10px 25px;
    text-align: justify;
    display: inline-block;
}
.container-icones img {
    width: 70px;
}