* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans/OpenSans-Light.ttf");
}
html,
body {
  height: 100%;
}
.clear {
  clear: both;
}

.header {
  width: 100%;
  padding: 0 2%;
  height: 90px;
  background-color: #212343;
}
.header img {
  margin: 15px;
}

.center {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
}
.center h2 {
  font-weight: normal;
  color: white;
  margin-top: 10px;
}
.container-banner {
  width: 100%;
  height: 557px;
  padding: 0 2%;
  background-image: url("../img/bg-banner.jpg");
  background-size: cover;
  background-position: center;
}
.container-banner > .center {
  height: 100%;
}

.form {
  width: 400px;
  height: calc(100% + 15px);
  padding: 20px 10px;
  background-color: white;
  float: right;
  position: relative;
  top: -25px;
  border: 8px solid rgba(120, 120, 120, 0.7);
  background-clip: padding-box;
  z-index: 2;
  /* background-origin: padding-box; [utilizado para imagens] */
}
.form h2 {
  font-size: 21px;
  font-weight: normal;
  color: #212343;
  padding: 8px;
  font-family: "Open Sans Light";
  line-height: 30px;
}
.input-container {
  margin-top: 20px;
  padding: 8px;
}
.input-container span,
.alerta {
  display: inline-block;
  width: 100%;
  color: #aaa;
  font-size: 17px;
}
.input-container span::after {
  content: " *";
  color: tomato;
}
.input-container input[type="text"],
.input-container input[type="email"],
.input-container [type="tel"] {
  margin-top: 8px;
  width: 344px;
  height: 55px;
  padding-left: 5px;
  font-size: 17px;
  border: 1px solid #ccc;
  outline: none;
}
.alerta {
  padding: 8px;
}
.alerta::before {
  content: "* ";
  color: tomato;
}
.form .input-submit-container {
  text-align: center;
}
.input-submit-container input[type="submit"] {
  width: 280px;
  height: 56px;
  background-color: #363a6d;
  color: white;
  border: none;
  display: inline-block;
  font-size: 20px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  cursor: pointer;
  margin-top: 10px;
  border-bottom: 5px solid #4a5097;
}
.form input[type="submit"]::hover {
  background-color: #323665;
}
.container-lista {
  padding: 30px;
  margin-top: 100px;
  float: left;
  width: 519px;
  height: 270px;
  background-color: rgba(33, 35, 67, 0.7);
}
.container-lista ul {
  list-style-position: inside;
}
.container-lista ul li {
  color: white;
  list-style: none;
  margin-top: 18px;
}
.container-sessao {
  padding: 50px 2%;
  text-align: center;
  background-color: #ddd;
}
.container-sessao h2 {
  font-weight: normal;
}
.container-sessao p {
  width: 100%;
  max-width: 768px;
  display: inline-block;
  margin: 15px 0;
  text-align: justify;
}
.container-sessao h2,
p {
  color: #212343;
}
.seta {
  position: relative;
  top: 60px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  background-image: url("../img/seta.png");
  background-size: 100% 100%;
}
.sessao-1 {
  padding: 90px 2%;
  font-family: "Open Sans Light";
}
.sessao-1 h2 {
  text-align: center;
  color: #212343;
  font-weight: bold;
}
.sessao-icones {
  margin-top: 40px;
  text-align: center;
}
.container-icones {
  width: 33.3%;
  float: left;
  padding: 30px;
}

.container-icones p {
  padding: 10px 25px;
  text-align: justify;
  display: inline-block;
}
.container-icones img {
  width: 70px;
}
.footer {
  padding: 20px 0;
  text-align: center;
  color: #888;
  border-top: 2px solid #4a5097;
}
.footer p {
  color: inherit;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 100%;
    height: auto;
    padding: 15px 2%;
    text-align: center;
  }
  .container-lista {
    padding: 30px 0;
    float: left;
    width: 40%;
    margin-top: 33px;
    text-align: center;
    max-width: 500px;
    height: auto;
  }
  .container-banner {
    width: 100%;
    padding: 40px 2%;
    margin-top: 30px;
    height: auto;
    text-align: center;
  }
  .form {
    margin-top: 30px;
    max-width: 400px;
    padding: 20px 10px;
    float: right;
    width: 60%;
    height: 100%;
    top: 0;
    text-align: left;
  }
  .form h2 {
    text-align: center;
  }

  .input-container input[type="text"],
  .input-container input[type="email"],
  .input-container [type="tel"] {
    width: 100%;
    height: 55px;
  }
  .input-submit-container input[type="submit"] {
    width: 100%;
    max-width: 280px;
    height: 56px;
  }
}

@media screen and (max-width: 768px) {
  .container-lista {
    margin-top: 0;
    float: none;
    padding: 4%;
    display: inline-block;
    width: 100%;
  }
  .form {
    float: none;
    display: inline-block;
    width: 100%;
  }

  .container-icones {
    float: none;
    display: inline-block;
    width: 100%;
    max-width: 600px;
    padding: 30px 0;
  }
}
